.ceum_body {
  background-color: #a2dbfa;
  zoom: 85%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.ceum_main_box {
  background-color: white;
  width: 650px;
  height: 715px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  /* border: 3px solid #000000; */
  border-radius: 10px;
}

.ceum_main_icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.ceum_main_title {
  width: 582px;
  height: 40px;
  position: absolute;
  top: 125px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.ceum_content {
  width: 465px;
  height: 180px;
  position: absolute;
  top: 215px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.ceum_content_heading {
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.ceum_content_list {
  width: 430px;
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.ceum_sub_title {
  width: 310px;
  height: 30px;
  position: absolute;
  top: 455px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.ceum_input_box {
  width: 310px;
  height: 50px;
  position: absolute;
  top: 500px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid #000000;
}

.ceum_phone_icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
}

.ceum_phone_icon_image {
  width: 40px;
  height: 40px;
}

.ceum_input {
  width: 245px;
  height: 35px;
  float: right;
  margin: 5px;
  margin-right: 10px;
}

.ceum_input_field {
  width: 100%;
  height: 100%;
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  border-style: none;
}

.ceum_reset_button_container {
  width: 107px;
  height: 45px;
  position: absolute;
  top: 600px;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.ceum_reset_button {
  width: 100%;
  height: 100%;
  font-family: Oxygen;
  font-style: normal;
  font-size: 24px;
  background-color: #62e06e;
  border: 4px solid #000000;
  border-radius: 10px;
}
